*p {
    font-family: 'Abyssinica SIL', serif;
    color: papayawhip;
    font-size: 1.1rem;
}

*h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.8rem;
    color: $title-color;
}

*h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.4rem;
    color: $title-color;
}

*label {
    color: papayawhip;
}